bucket         = "gh-platform-tfstate-ACCOUNT"
key            = "sandbox/s3-bucket.tfstate"
region         = "us-east-1"
encrypt        = true
# dynamodb_table = "gh-platform-tflock"  # optional if not using S3 native lock
